<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parking Citation Review Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    




</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
        <div class="container">
            <span class="border">
                <img src="~/images/headerPrototype2.jpg" class="img-fluid"  />
                @*<a class="navbar-brand" asp-area="" asp-page="/Index">ParkingCitationReviewApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>*@
                </span>
        </div>
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            
        </nav>*@
    </header>
    <div class="container" >
        
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            
            @*&copy; 2020 - ParkingCitationReviewApp - <a asp-area="" asp-page="/Privacy">Privacy</a>*@
            <p>
                <span id="footerLinks">
                    <a href="https://www.rva.gov/sitewide/accessibility">Accessibility</a> | <a href="https://www.rva.gov/privacypolicy">Privacy Policy</a>
                    <!--<a href="http://www.richmondgov.com/common/contact.aspx">Contact Us</a><br />-->
                </span>
                <br />
                <span id="footerAddress">900 E. Broad St. | Richmond, VA 23219 | (804)646-7000<br /></span>
                <span id="footerHours">Hours: Monday - Friday, 8 a.m. - 5 p.m.<br /></span>
                <span id="footerMayorLine" class="mayor">Mayor Levar Stoney | 2019 City of Richmond</span>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
