<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NoneyaEndpointAddressToServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://starappdev2.richva.ci.richmond.va.us/services/noneya/NoneyaWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="NoneyaEndpointAddressToServer"
                contract="NONEYA.INoneyaWebService" name="NoneyaEndpointAddressToServer" />
        </client>
    </system.serviceModel>
</configuration>
