@page
@model ParkingCitationReviewApp.Pages.ConfirmationModel
@{
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-success" role="alert">
    Thank you for registering for the Parking Citation Review.&nbsp;
    <br />
    We will process your request and send you email shortly. 
    <br />
    
</div>


